@import "../../styles/variables.scss";

.button {
  width: 100%;
  padding: 1rem 1.2rem;
  font-size: 1.4rem;
  color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
  text-transform: capitalize;
  letter-spacing: 1px;
  border-radius: 0.8rem;
  transition: all 0.3s;

  &:hover {
    transform: translateY(-3px);
  }

  &__primary {
    background-color: $color-primary;
  }

  &__secondary {
    background-color: $color-secondary;
  }

  &__secondary-outline {
    color: $color-secondary;
    border: 2px solid $color-secondary;
    background-color: transparent;
  }

  &__danger {
    background-color: $color-danger;
  }
}
