.sidebar {
  height: 100dvh;
  padding: 2.4rem 1.2rem;
  background: rgb(65, 172, 240);
  background: linear-gradient(
    180deg,
    rgba(65, 172, 240, 1) 0%,
    rgba(30, 68, 174, 1) 100%
  );
  grid-area: aside;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  &__options {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  padding: 0 1.2rem;

  p {
    font-size: 2.4rem;
    color: #fff;
  }
}

.sidebar-item {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 1.2rem;
  cursor: pointer;
  border-radius: 0.8rem;
  transition: all 0.3s;

  &__icon {
    margin-right: 2.4rem;
  }

  &__text {
    font-size: 1.4rem;
    color: #fff;
    text-align: left;
  }

  &__toggle {
    margin-left: auto;
  }

  &:link,
  &:visited {
    text-decoration: none;
  }

  &.active,
  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
}
