@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import "./styles/variables.scss";
@import "./styles/layout.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // 1rem = 10px
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  line-height: 1;
  font-family: "Poppins", sans-serif;
}
